@import url(https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat+Subrayada:wght@400;700&family=Rye&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bellefair&family=Montserrat+Subrayada:wght@400;700&family=Raleway:wght@100;200;300;400&family=Rye&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

$sub_title: 'Bellefair', serif;
$title: 'Rye', cursive;
$content_title: 'Montserrat Subrayada', sans-serif;
$content:'Raleway', sans-serif;
$view_title: 'Abril Fatface', cursive;