.App {
  margin: 0% 13% 0% 13%;
  text-align: center;

  .nav-bar{
    height: 20vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    .day-information{
        grid-area: 4/ 1/ 5/ 2;
    }
    
    .title-container{
        grid-area: 2/ 3/ 4/ 7;
        justify-self: center;
        align-items: center;

        .app-title{
            font-size: 4em;
            margin: 2%;
        }
    }

    .controls-container{
        
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        grid-area: 4/ 8/ 5/ 8;
        padding: 2%;
        margin: 2%;
    }
  }

  .banner{
    height: 12vh;
    background-color: bisque;
    overflow: scroll;

    .banner-container{
        height: 100%;
        margin: 1% 0% 0% 0%;
        padding: 1%;
        background-color: blueviolet;
        display: inline-flex;
        width: 100%;

        
    }
}
}

